@page "/speaking-engagements"

<section id="section-home" aria-label="section" class="text-light" data-bgimage="url(images/background/bg-subheader-1.jpg) top" data-stellar-background-ratio=".2" data>
  <div class="container">
	<div class="row align-items-center">
	  <div class="col-lg-12 text-center">
		<h1 class="mt30 wow fadeInUp" data-wow-delay=".6s">Speaking Engagements</h1>
	  </div>
	</div>
  </div>
</section>
<section id="section-upcoming-events">
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>Upcoming Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row no-gutters">
	  <div class="col-lg-4 col-md-6">
		<div class="mask s2">
		  <div class="m-date">19-24 <span>March</span></div>
		  <div class="cover">
			<div class="c-inner">
			  <h3><i class="fa fa-circle-thin"></i><span>Prairie Dev Con</span></h3>
			  <p>Expert solutions for enterprise developers.</p>
			  <div class="spacer20"></div>
			  <a href="event-single-1.html" class="btn-custom capsule">Event Details</a>
			</div>
		  </div>
		  <img src="images/conferences/vslive.png" alt="" class="img-responsive" />
		</div>
	  </div>
	  <div class="col-lg-4 col-md-6">
		<div class="mask s2">
		  <div class="m-date">19-21 <span>April</span></div>
		  <div class="cover">
			<div class="c-inner">
			  <h3><i class="fa fa-circle-thin"></i><span>InflectraCon</span></h3>
			  <p>InflectraCON™ 2023 is a three-day multi-track conference celebrating all things Software Development, Testing, Agile, DevOps, Cyber, Leadership, and Innovation.</p>
			  <div class="spacer20"></div>
			  <a href="event-single-1.html" class="btn-custom capsule">Event Details</a>
			</div>
		  </div>
		  <img src="images/conferences/techbash-2022.png" alt="" class="img-responsive" />
		</div>
	  </div>
	  <div class="col-lg-4 col-md-6">
		<div class="mask s2">
		  <div class="m-date">24-27 <span>April</span></div>
		  <div class="cover">
			<div class="c-inner">
			  <h3><i class="fa fa-circle-thin"></i><span>VSLive!</span></h3>
			  <p>Mastering cloud native architectures, serverless development and functions</p>
			  <div class="spacer20"></div>
			  <a href="event-single-1.html" class="btn-custom capsule">Event Details</a>
			</div>
		  </div>
		  <img src="images/conferences/vslive.png" alt="" class="img-responsive" />
		</div>
	  </div>
	</div>
  </div>
  <br /><br />
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>2023 Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center"><strong>Dates</strong></div>
	  <div class="col-md-4 text-center"><strong>Event</strong></div>
	  <div class="col-md-4 text-center"><strong>Location</strong></div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">March 19 - 24</div>
	  <div class="col-md-4 text-center">VS Live!</div>
	  <div class="col-md-4 text-center">Las Vegas, NV</div>
	</div>
  </div>
  <br /><br />
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>2022 Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center"><strong>Dates</strong></div>
	  <div class="col-md-4 text-center"><strong>Event</strong></div>
	  <div class="col-md-4 text-center"><strong>Location</strong></div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">November 8 - 11</div>
	  <div class="col-md-4 text-center">TechBash</div>
	  <div class="col-md-4 text-center">Mount Pocono, PA</div>
	</div>
	<div class="row" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">November 7 - 8</div>
	  <div class="col-md-4 text-center">Prairie Dev Con</div>
	  <div class="col-md-4 text-center">Winnipeg, MB</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 20, 2022</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 20, 2022</div>
	  <div class="col-md-4 text-center">Momentum Developer Conference</div>
	  <div class="col-md-4 text-center">Cincinnati, OH</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 19, 2022</div>
	  <div class="col-md-4 text-center">Indy.Code()</div>
	  <div class="col-md-4 text-center">Carmel, IN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 17 - 19, 2022</div>
	  <div class="col-md-4 text-center">Serverless Architecture Conference</div>
	  <div class="col-md-4 text-center">Berlin, Germany</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 3 - 4, 2022</div>
	  <div class="col-md-4 text-center">Prairie Dev Con</div>
	  <div class="col-md-4 text-center">Regina, SK</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">September 17, 2022</div>
	  <div class="col-md-4 text-center">Atlanta Developer's Conference</div>
	  <div class="col-md-4 text-center">Atlanta, GA</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">September 8, 2022</div>
	  <div class="col-md-4 text-center">Tulsa .NET User Group</div>
	  <div class="col-md-4 text-center">Tulsa, OK (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">August 8 - 10, 2022</div>
	  <div class="col-md-4 text-center">KCDC</div>
	  <div class="col-md-4 text-center">Kansas City, MO</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">August 6, 2022</div>
	  <div class="col-md-4 text-center">Beer City Code</div>
	  <div class="col-md-4 text-center">Grand Rapids, MI</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">July 25 - 28, 2022</div>
	  <div class="col-md-4 text-center">THAT</div>
	  <div class="col-md-4 text-center">Wisconsin Dells, WI</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 22, 2022</div>
	  <div class="col-md-4 text-center">Scenic City Summit</div>
	  <div class="col-md-4 text-center">Chattanooga, TN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">July 20, 2022</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 13 - 15, 2022</div>
	  <div class="col-md-4 text-center">Nebraska.Code()</div>
	  <div class="col-md-4 text-center">Lincoln, NE</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">June 6 - 8, 2022</div>
	  <div class="col-md-4 text-center">dev up</div>
	  <div class="col-md-4 text-center">St. Charles, MO</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">May 6, 2022</div>
	  <div class="col-md-4 text-center">Stir Trek</div>
	  <div class="col-md-4 text-center">Columbus, OH</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 28, 2022</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">April 7 - 8, 2022</div>
	  <div class="col-md-4 text-center">Code Stock</div>
	  <div class="col-md-4 text-center">Knoxville, TN</div>
	</div>
  </div>
  <br /><br />
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>2021 Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center"><strong>Dates</strong></div>
	  <div class="col-md-4 text-center"><strong>Event</strong></div>
	  <div class="col-md-4 text-center"><strong>Location</strong></div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">September 24</div>
	  <div class="col-md-4 text-center">Scenic City Summit</div>
	  <div class="col-md-4 text-center">Chattanooga, TN (Online)</div>
	</div>
	<div class="row" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">September 15 - 17</div>
	  <div class="col-md-4 text-center">KCDC</div>
	  <div class="col-md-4 text-center">Kansas City, MO</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">September 15 - 17</div>
	  <div class="col-md-4 text-center">Music City Tech</div>
	  <div class="col-md-4 text-center">Nashville, TN (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">September 8 - 9</div>
	  <div class="col-md-4 text-center">DevSpace</div>
	  <div class="col-md-4 text-center">Huntsville, AL (Online)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 30</div>
	  <div class="col-md-4 text-center">Cincy Deliver</div>
	  <div class="col-md-4 text-center">Cincinnati, OH</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">July 26 - 29</div>
	  <div class="col-md-4 text-center">THAT Conference</div>
	  <div class="col-md-4 text-center">Wisconsin Dells, OH (Virtual)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 13 - 15</div>
	  <div class="col-md-4 text-center">Nebraska.Code()</div>
	  <div class="col-md-4 text-center">Lincoln, NE</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 22</div>
	  <div class="col-md-4 text-center">Memphis .NET User Group</div>
	  <div class="col-md-4 text-center">Memphis, TN (Online)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">April 8</div>
	  <div class="col-md-4 text-center">Tulsa .NET User Group</div>
	  <div class="col-md-4 text-center">Tulsa, OK (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">March 16</div>
	  <div class="col-md-4 text-center">Dallas & Austin Azure Meetup</div>
	  <div class="col-md-4 text-center">Dallas, TX (Online)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">March 15</div>
	  <div class="col-md-4 text-center">Columbus App Dev User Group</div>
	  <div class="col-md-4 text-center">Columbus, OH (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">March 8</div>
	  <div class="col-md-4 text-center">Dallas & Austin .NET User Group</div>
	  <div class="col-md-4 text-center">Dallas, TX (Online)</div>
	</div>
  </div>
  <br /><br />
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>2020 Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center"><strong>Dates</strong></div>
	  <div class="col-md-4 text-center"><strong>Event</strong></div>
	  <div class="col-md-4 text-center"><strong>Location</strong></div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">December 15</div>
	  <div class="col-md-4 text-center">Dallas & Austin Azure Meetup</div>
	  <div class="col-md-4 text-center">Dallas, TX (Online)</div>
	</div>
	<div class="row" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">November 14</div>
	  <div class="col-md-4 text-center">Granite State Code Camp</div>
	  <div class="col-md-4 text-center">Manchester, NH</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">November 9</div>
	  <div class="col-md-4 text-center">Tulsa .NET User Group</div>
	  <div class="col-md-4 text-center">Tulsa, OK (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 30</div>
	  <div class="col-md-4 text-center">Microsoft Azure Virtual Full-Day Tutorial Series [Canceled]</div>
	  <div class="col-md-4 text-center">Nice, France (Online)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 13</div>
	  <div class="col-md-4 text-center">Hampton Roads .NET User Group</div>
	  <div class="col-md-4 text-center">Hampton Roads, VA</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 12 - 16</div>
	  <div class="col-md-4 text-center">NDC Sydney</div>
	  <div class="col-md-4 text-center">Sydney, Australia (Online)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 3</div>
	  <div class="col-md-4 text-center">TDevConf</div>
	  <div class="col-md-4 text-center">Tennessee (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">September 10</div>
	  <div class="col-md-4 text-center">TDevConf Speaker Interview</div>
	  <div class="col-md-4 text-center">Tennessee (Online)</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 15</div>
	  <div class="col-md-4 text-center">Hiring Manager Panel Q&A</div>
	  <div class="col-md-4 text-center">Louisville, KY (Online)</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">June 19</div>
	  <div class="col-md-4 text-center">CodeItLive The ChatShow: Community Spotlight</div>
	  <div class="col-md-4 text-center">Online</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">June 6</div>
	  <div class="col-md-4 text-center">Boston Code Camp 33 [Cancelled]</div>
	  <div class="col-md-4 text-center">Burlington, MA</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 29 - May 1</div>
	  <div class="col-md-4 text-center">Indy.Code() [Cancelled]</div>
	  <div class="col-md-4 text-center">Carmel, IN</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">April 17 - 18</div>
	  <div class="col-md-4 text-center">CodeStock 2020 [Canceled]</div>
	  <div class="col-md-4 text-center">Knoxville, TN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 15 - 16</div>
	  <div class="col-md-4 text-center">Ignite the Tour – Chicago [Canceled]</div>
	  <div class="col-md-4 text-center">Chicago, IL</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">March 28</div>
	  <div class="col-md-4 text-center">Orlando Code Camp & Tech Conference [Canceled]</div>
	  <div class="col-md-4 text-center">Knoxville, TN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">February 29</div>
	  <div class="col-md-4 text-center">South Florida Developers Conference</div>
	  <div class="col-md-4 text-center">Chicago, IL</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">February 6 - 7</div>
	  <div class="col-md-4 text-center">Microsoft Ignite the Tour – Government</div>
	  <div class="col-md-4 text-center">Washington, DC</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">January 7 - 10</div>
	  <div class="col-md-4 text-center">Code Mash</div>
	  <div class="col-md-4 text-center">Sandusky, OH</div>
	</div>
  </div>
  <br /><br />
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>2019 Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center"><strong>Dates</strong></div>
	  <div class="col-md-4 text-center"><strong>Event</strong></div>
	  <div class="col-md-4 text-center"><strong>Location</strong></div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">November 12 - 15</div>
	  <div class="col-md-4 text-center">TechBash</div>
	  <div class="col-md-4 text-center">Pocono Manor, PA</div>
	</div>
	<div class="row" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">October 17</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 14 - 16</div>
	  <div class="col-md-4 text-center">DevUp</div>
	  <div class="col-md-4 text-center">St. Charles, MO</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 11 - 12</div>
	  <div class="col-md-4 text-center">DevSpace</div>
	  <div class="col-md-4 text-center">Huntsville, AL</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 10 - 11</div>
	  <div class="col-md-4 text-center">Little Rock Tech Fest</div>
	  <div class="col-md-4 text-center">Little Rock, AR</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 4</div>
	  <div class="col-md-4 text-center">Scenic City Summit</div>
	  <div class="col-md-4 text-center">Chattanooga, TN</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 3 - 4</div>
	  <div class="col-md-4 text-center">DogFoodCon</div>
	  <div class="col-md-4 text-center">Columbus, OH</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">September 14</div>
	  <div class="col-md-4 text-center">Atlanta Code Camp</div>
	  <div class="col-md-4 text-center">Atlanta, GA</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">September 11 - 13</div>
	  <div class="col-md-4 text-center">Prairie.Code()</div>
	  <div class="col-md-4 text-center">Des Moines, IA</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">September 5 - 7</div>
	  <div class="col-md-4 text-center">Music City Tech</div>
	  <div class="col-md-4 text-center">Nashville, TN</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">August 21 - 23</div>
	  <div class="col-md-4 text-center">Code PaLOUsa</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">August 14 - 16</div>
	  <div class="col-md-4 text-center">Nebraska.Code()</div>
	  <div class="col-md-4 text-center">Lincoln, NE</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 26</div>
	  <div class="col-md-4 text-center">Cincy Deliver</div>
	  <div class="col-md-4 text-center">Cincinnati, OH</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">July 17 - 19</div>
	  <div class="col-md-4 text-center">KCDC</div>
	  <div class="col-md-4 text-center">Kansas City, MO</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">June 28</div>
	  <div class="col-md-4 text-center">Software Guild (Private Event)</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">June 6</div>
	  <div class="col-md-4 text-center">Louisville Tech Ladies</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">May 31 - June 1</div>
	  <div class="col-md-4 text-center">Beer City Code</div>
	  <div class="col-md-4 text-center">Grand Rapids, MI</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">May 13 - 14</div>
	  <div class="col-md-4 text-center">DotNetSouth</div>
	  <div class="col-md-4 text-center">Atlanta, GA</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">April 27</div>
	  <div class="col-md-4 text-center">Global Azure Bootcamp</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 26</div>
	  <div class="col-md-4 text-center">Stir Trek</div>
	  <div class="col-md-4 text-center">Columbus, OH</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">April 12 - 13</div>
	  <div class="col-md-4 text-center">CodeStock</div>
	  <div class="col-md-4 text-center">Knoxville, IN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">January 22</div>
	  <div class="col-md-4 text-center">Tech Foundations Louisville</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">January 8 - 11</div>
	  <div class="col-md-4 text-center">CodeMash</div>
	  <div class="col-md-4 text-center">Sandusky, OH</div>
	</div>
  </div>
  <br /><br />
  <div class="container">
	<div class="row">
	  <div class="col-md-12 text-center">
		<h2>2018 Events</h2>
	  </div>
	  <div class="small-border"></div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center"><strong>Dates</strong></div>
	  <div class="col-md-4 text-center"><strong>Event</strong></div>
	  <div class="col-md-4 text-center"><strong>Location</strong></div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">December 20</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" onclick="location.href='https://www.glennissolutions.com';" style="cursor: pointer">
	  <div class="col-md-4 text-center">December 13</div>
	  <div class="col-md-4 text-center">Evansville Technology Group</div>
	  <div class="col-md-4 text-center">Evansville, IN</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 12 - 13</div>
	  <div class="col-md-4 text-center">DevSpace</div>
	  <div class="col-md-4 text-center">Huntsville, AL</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">October 4 - 5</div>
	  <div class="col-md-4 text-center">DogFoodCon</div>
	  <div class="col-md-4 text-center">Columbus, OH</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">October 2</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">August 30 - September 3</div>
	  <div class="col-md-4 text-center">Coder Cruise</div>
	  <div class="col-md-4 text-center">The Bahamas</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">July 11 - 13</div>
	  <div class="col-md-4 text-center">KCDC</div>
	  <div class="col-md-4 text-center">Kansas</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">June 2</div>
	  <div class="col-md-4 text-center">Pittsburgh TechFest</div>
	  <div class="col-md-4 text-center">Pittsburgh, PA</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">May 31 - June 2</div>
	  <div class="col-md-4 text-center">Music City Tech</div>
	  <div class="col-md-4 text-center">Nashville, TN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">May 17</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">May 4</div>
	  <div class="col-md-4 text-center">Stir Trek</div>
	  <div class="col-md-4 text-center">Columbus, OH</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 21</div>
	  <div class="col-md-4 text-center">Global Azure Bootcamp</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">April 20 - 21</div>
	  <div class="col-md-4 text-center">CodeStock</div>
	  <div class="col-md-4 text-center">Knoxville, TN</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">April 19</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row" data-bgcolor="#EEEEEE">
	  <div class="col-md-4 text-center">February 15</div>
	  <div class="col-md-4 text-center">Louisville .NET Meetup</div>
	  <div class="col-md-4 text-center">Louisville, KY</div>
	</div>
	<div class="row">
	  <div class="col-md-4 text-center">February 15</div>
	  <div class="col-md-4 text-center">Evansville Technology Group</div>
	  <div class="col-md-4 text-center">Evansville, IN</div>
	</div>
  </div>

</section>
@code {

}
