<header class="header-light transparent">
  <div class="container">
	<div class="row">
	  <div class="col-md-12">
		<div class="de-flex sm-pt10">
		  <div class="de-flex-col">
			<!-- logo begin -->
			<div id="logo">
			  <a href="index.html">
				<img alt="" class="logo" src="images/logo-light.png" />
				<img alt="" class="logo-2" src="images/logo.png" />
			  </a>
			</div>
			<!-- logo close -->
		  </div>
		  <div class="de-flex-col header-col-mid">
			<ul id="mainmenu">
			  <li><NavLink href="" Match="NavLinkMatch.All">Home</NavLink></li>
			  <li><NavLink href="speaking-engagements">Speaking Engagements</NavLink></li>
			  <li><NavLink href="presentations">Presentations</NavLink></li>
			  <li><NavLink href="meetups">Meetups</NavLink></li>
			  <li><NavLink href="blog">Blog</NavLink></li>
			  <li><NavLink href="about">About</NavLink></li>
			  <li><NavLink href="contact">Contact</NavLink></li>
			</ul>
		  </div>
		</div>
	  </div>
	</div>
  </div>
</header>

@code {

}
