@inherits LayoutComponentBase

<div id="wrapper">
  <TopBar />
  <Header />




  <!-- content begin -->
  <div class="no-bottom no-top" id="content">
	<div id="top"></div>
		@Body
  </div>
  <!-- content close -->
  <a href="#" id="back-to-top"></a>






  <Footer />
</div>